
body {
    background-color: #F4F5FC;
    margin: 0;
}
.container {
    background-color: #FFFFFF;;
    width: 83.13vw;
    height: 60vw; //80vh;
    margin-top: 7.5vw; //10vh;
    margin-left: 8.5vw;
    margin-bottom: 7.374vw; // 9.833vh;
}
.left-indent {
    background-color:#5A61ED;
    width: 17.15vw;
    height: 60vw; //80vh;
    float: left;
    position: relative;
    .name-indent { 
        width: 25vw; //200px;
        transform: rotate(-90deg);
        transform-origin: bottom right;
        position: absolute;
        right: 0px;
        bottom: 27.75vw;//222px;
        font-family: 'PT Sans', sans-serif;
        font-size: 6.125vw; //49px;
        font-weight: 400;
        line-height: 7.875vw;//63px;
        letter-spacing: 0.063vw;//0.5px;
        text-align: left;
        color: #FFFFFF;
    }
}
.main-form {
    margin-left: 17.15vw;
    .table-contents {
        font-family: 'Work Sans', sans-serif;
        font-size: 2.75vw;//22px;
        font-weight: 500;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        padding-top: 4.815vw; //6.42vh;
        padding-left: 2.6vw;
        height: 3.25vw//26px;
    }
    .instruction-form {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.75vw;//14px;
        font-weight: 300;
        line-height: 100%;
        text-align: left;
        vertical-align: bottom;
        padding-left: 2.6vw;
        height: 2vw;//16px;
        margin-bottom: 2.498vw; //3.33vh;

    }
    .quadr-cell {
        padding-left: 2.6vw;
        .duble-cell {
            margin-right: 1.887vw;
            margin-bottom: 2.1vw; //2.8vh;
            width: 29.31vw;
            min-width: 234.5px;
            float: left;
        }
    }


    .label-form {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5vw;//12px;
        font-weight: 300;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        color: #7C7C7C;
        height: 1.75vw;//14px;
    }

    .input-form {
        outline: none;
        width: 29.31vw;
        min-width: 234.5px;
        border: none;
        border-bottom: solid #F2F2F2 0.7px;
        padding: 0;
        margin: 0;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.75vw;//14px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        height: 2.75vw;//22px;
        option {
            padding: 0;
            margin: 0;
            text-align: left;
        }
    }

    #day,
    #month,
    #year {
        outline: none;
        border: none;
        border-bottom: solid #F2F2F2 0.7px;
        padding: 0;
        margin: 0;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.75vw;//14px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        height: 3.4vw;//27.2px;
    }
    #day {
        width: 7vw;
        min-width: 56px;
        margin-right: 1.225vw;
        float: left;
    }
    #month {
        width: 11.375vw;
        min-width: 91px;
        margin-right: 1.225vw;
        float: left;
    }
    #year {
        width: 8.458vw;
        min-width: 67,67px;
        float: left;
    }
    .date-of-birth {
        width: 29.31vw;
        min-width: 234.5px;
    }
    .gender-block {
        padding: 0;
        margin: 0;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.75vw;//14px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        height: 3.4vw;//27.2px;
        .input-radio {
            margin-right: 0.75vw;//6px;
            margin-top: 0.963vw;//7.7px;
            font-size: 1.75vw;//14px;

        }
        input[type="radio"] {    
            width: 1.5vw;//12px;    
            height: 1.5vw;//12px;
        }
        
        .left-radio {
            margin-left: 0;
        }
        .right-radio {
            margin-left: 2.375vw;
        }
        .gender-text{
            vertical-align: 0.25vw;//2px;
        }
    }
    #confirm-password{
        margin-bottom: 9vw; //12vh;
    }
    .have-account {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.625vw;//13px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        height: 1.875vw;//15px;
        //float: left;
        padding-top: 1.6vw;//12px;
        min-width: 200.5px;
    }
    .btn-signup {
        float: right;
        width: 19.25vw;//154px;
        height: 4vw;//32px;
        margin-right: 2.75vw;
        font-family: 'PT Sans', sans-serif;
        font-size: 1.75vw;//14px;
        font-weight: 400;
        color:#FFFFFF;
        background: linear-gradient(0deg, #5A61ED, #5A61ED),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
        border: 0.5px solid #FFFFFF;
    }
    .error {
        //display: none;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5vw;//12px;
        font-weight: 300;
        line-height: 100%;
        text-align: left;
        vertical-align: top;
        color: #7C7C7C;
        height: 1.75vw;//14px;
    }
    .error-underline {
        text-decoration: underline;
        text-decoration-color: red;
    }
}

@media only all and (max-width: 800px) {
    .container {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 9.833vh;
    }
    .left-indent {
        height: 80vh;
        .name-indent { 
            width: 200px;
            bottom: 222px;
            font-size: 49px;
            line-height: 63px;
            letter-spacing: 0.5px;
        }
    }
   
    .main-form {
        .table-contents {
            font-size: 22px;
            padding-top: 6.42vh;
            height: 26px;
        }
        .instruction-form {
            font-size: 14px;
            height: 16px;
            margin-bottom: 3.33vh;
        }
        .quadr-cell {
            .duble-cell {
                margin-bottom: 2.8vh;
            }
        }
        .label-form {
            font-size: 12px;
            height: 14px;
        }
        .input-form {
            font-size: 14px;
            height: 22px;
        }
        #day,
        #month,
        #year {
            font-size: 14px;
            height: 27.2px;
        }
        .gender-block {
            font-size: 14px;
            height: 27.2px;
            .input-radio {
                margin-right: 6px;
                margin-top: 7.7px;
                font-size: 14px;
            }
            input[type="radio"] {    
                width: 12px;    
                height: 12px;
            }
            .gender-text{
                vertical-align: 2px;
            }
        }
        #confirm-password{
            margin-bottom: 12vh;
        }
        .have-account {
            font-size: 13px;
            height: 15px;
            padding-top: 12px;
        }
        .btn-signup {
            width: 154px;
            height: 32px;
            font-size: 14px;
        }
        .error {
            //display: none;
            font-size: 12px;
            height: 14px;
        }
    }
}

@media only all and (max-width: 786px) {
    .container,
    .left-indent{
        height: 120vh;
    }
    .main-form {
        .have-account,
        .btn-signup,
        .duble-cell {
            float: none;
        }
        #day {
            width: 56px;
            margin-right: 9.8px;
            // float: left;
        }
        #month {
            width: 91px;
            margin-right: 9.8px;
        }
        #year {
            width: 67.67px;
        }
        .have-account,
        .btn-container,
        #date-of-birth {
            width: 234.5px;
        }
        .btn-signup {
            margin-top: 30px;
        }
        
    }
}

@media only all and (max-width: 710px) {
    .btn-signup {
        margin-top: 15px;
    }
}

@media only all and (max-width: 400px) {
    .container,
    .left-indent{
        height: 135vh;
    }
    .left-indent {
        background-color:#5A61ED;
        width: 83.13vw;
        height: 100px;
        float: none;
        .name-indent { 
            transform: none;
            bottom: 0px;
        }
    }
    .main-form {
        margin-left: 10px;
    }
    .input-form {
        min-width: 200px;
    }
    #date-of-birth {
        width: 230px;
    }
}


