
body {
    background-color: #F4F5FC;
    margin: 0;
}
.container {
    background-color: #FFFFFF;;
    width: 83.13vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 8.5vw;
}
.left-indent {
    background-color:#5A61ED;
    width: 17.15vw;
    height: 80vh;
    float: left;
    position: relative;
    .name-indent { 
        width: 200px;
        transform: rotate(-90deg);
        transform-origin: bottom right;
        position: absolute;
        right: 0px;
        bottom: 222px;
        font-family: 'PT Sans', sans-serif;
        font-size: 49px;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0.5px;
        text-align: left;
        color: #FFFFFF;
    }
}
.main-form {
    margin-left: 17.15vw;
}
